

i.icon-purple {
   color: white;
}

.no-padding {
    padding: 0 !important;
}


.loader {
      position: fixed;
      top: 50%;
      left: 50%;
      margin-top: -50px;
      margin-left: -30px;
      z-index:9999;
}

.overlay {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.9);
    z-index:999;
}

#wrapper {
    padding:30px;
}

.banner {
    height: 320px;
}

body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }